@import "tailwindcss";
@import "./font.css";

:root {
  --background: #000000;
  --foreground: #EEEEEE;

  --primary: #000000;
  --primary-foreground: #EEEEEE;

  --secondary: #020205;
  --secondary-foreground: #DDDDDD;

  --accent-color-p: #FD0054;
  --accent-color-s: #A80038;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent-p: var(--accent-color-p);
  --color-accent-s: var(--accent-color-s);

  --font-sans: 'Helvetica', ui-sans-serif, system-ui, sans-serif;
  --font-display: 'ClashDisplay', ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  cursor: none;
}

@media (pointer: fine) {
  :root,
  :root *,
  :root *::before,
  :root *::after {
    cursor: none !important;
  }
}